

header{
    position: fixed;
    height: 110px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: teal;
    margin-left: -20px;
    padding-right: 20px;
    z-index: 10;
}
header .logo{
    flex: 1;
  
}
header .logo img{
  height: 110px;
  width: auto;
}
header a{
    color: #000;
    text-transform: uppercase;;
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    transition: 1s;
    font-size: 20px;
}
header ul li:hover{
    opacity: 1;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 8px;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
header ul li a:hover{
    color: black;
}
.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
    width:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cart-icon .span2{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}

.span1{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: 47px;
    padding: 5px 7px;
    font-size: 10px;
}
.webname{
    margin-left: 10px;
}