.categories{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.categories form{
    width: 290px;
    margin-bottom: 20px;
}
.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.categories input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
.categories input{
    width: 210px;
}
.categories button{
    width: 70px;
    
    color: white;
    margin-left: 10px;
    font-weight: 500;
}
.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
   
}
.row p{
    color:#263575;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}
.col{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
}
.createbtn{
    background-color: rgb(83, 153, 98);
}
.editbtn{
    background-color: darkgoldenrod;
}
.deletebtn{
    background-color: crimson;
}
.label{
    padding: 5px 10px;
    top:-15px;
    background-color: #fff;
    position: absolute;
    border-radius: 8px;
    font-size: 25px;
}

.btnreturn1{
    margin: 15px 0;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: goldenrod;
}
.btnreturn1 img {
    width: 70px;
    height: 35px;
}

.codo{
    background-image: url('../../../img/codo3.png') ;
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    opacity: 0.8;
    height: 92vh;
}