.create_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
   
}
.containerimg{
    background-image: url('../../../img/img.png') ;
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
.colorh1{
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    padding: 20px 20px;
}
.upload{
    max-width: 450px;
    height: 500px;
    width: 100%;
    border: 1px solid rgb(15, 15, 15);
    padding: 15px;
    margin: 20px;
    position: relative;
    border-radius: 8px;
    background:white ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file_up::before{
    content: url("../../../img/img.svg");
    
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: white;
    color: rgb(250, 200, 107);
    font-size: 5rem;
    
    text-align: center;
    cursor: pointer;
    margin: auto;
}
#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: white;
}
#file_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.create_product form{
    max-width: 700px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
}
.create_product form .row{
    width: 100%;
    padding: 5px 50px;
    margin: 15px 0;
   
}
.create_product form input, textarea{
    width: 100%;
    min-height: 40px;
    padding: 0 5px;
}
.create_product form button{
    width: 200px;
    height: 40px;
    background: crimson;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.5s ;
}
.create_product form button:hover{
    transform:translateY(-5px) ;
    opacity: 0.5;
}

.specifi{
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
}

.formcreate{
  background:white ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  
}
.btncreate{
    margin: 20px 0;
}
.step{
    margin: 20px 0;
    font-style: italic;
    font-weight: 600;
}
.alertcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert{
    width: 100%;
    height: 10vh;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(79, 182, 113);
    color: #fff;
}
.alertbtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn1{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: rgb(79, 182, 113);
    color: #fff;
    margin: 0 10px;
    border-radius: 8px;
}
.color{
    background-color: crimson;
}

.alert h1{
    margin-right: 15px;
}
.warning{
    background-color: rgb(168, 170, 43);
}
.iconup{
    margin-left: 15px;
    width: 50px;
    height: 40px;
}