@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
.checkout{
    margin-left: 185px;
    margin-top: 110px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inforcheckout{
    margin: 40px 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shipping{
    width: 450px;
    background: rgb(214, 210, 210);
    border-radius: 8px;
    border:none;
    height: 60vh;
    display: flex;
   justify-content: space-between;
   align-items: center;   
}
.shipform{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.shipinfor{
    width: 90%;
    border-radius: 8px;
    height: 50px;
    margin: 20px 0;
    font-size: 18px;

}
.Confirm{
    width: 450px;
    display: flex;
    height: 60vh;
    padding: 70px 15px 0 15px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    position: relative;
    background-color: rgb(214, 210, 210);
}
.Confirm:before{
    width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  background-image: url('../../img/letter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
}
.cartshipping{
    padding: 10px;
    width: 450px;
    height: 60vh;
    
    border-radius: 8px;
    border:none;
    display: flex;
    flex-direction: column;
}
.listcard{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.bill{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-bottom: 0.5px solid rgb(133, 130, 130);
}
.billdetail{
    width: 100%;
    display: flex;
    padding-bottom: 5px;
}
.bill .billdetail p{
    width: 350px;
    color: #000;
    font-size: 18px;
}
.totalbill{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.btncheckout{
    width: 500px;
    background: #fff;
    height: 20vh;
    margin-bottom: -20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

.icon{
    width: 40px;
    height: 40px;
}

.icon3{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.bagicon{
    padding-right: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.dollar{
    color:black;
    margin-right: 5px;
    font-size: 40px;
}
.icon2{
    width: 40px;
    height: 40px;
}

.btnreturn{
    width:100%;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    height: 50px;
    color:#fff;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 8px;
    align-items: center;
    border:none;
    background-color: crimson;
}
.btnreturn span{
    margin-right: 5px;
}
.billdetail{
    width:100%;
    display: flex;
    
}
.billdetail h4{
    padding-left: 10px;
    text-align: left;
}

.totalbill{
    margin-right: 50px;
    width:100%;
    display: flex;
    justify-content: space-between;
   
}
.totalbill h4{
    margin-left: 10px;
    text-align: left;
}

.totalbill p{
    color: #fe4c50;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin: 0 5px 0 20px;
    font-weight: 800;
}

.detailproductbill{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailproductbilldt{
 display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: darkgoldenrod;
  opacity: 0.6;
  font-style: italic;
  font-weight: 600;
}

.detailproductbilldt:hover{
    opacity: 1;
}